body {
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#controls,
#Puzzle_center,
#Tiles_area {
	width: 400px;
}

#controler {
	padding-top: 10px;
	text-align: center;
}

h1 {
	margin: 10px 0px;
	text-align: center;
}

/* Used to center the puzzle. */
#Puzzle_center {
	margin-left: auto;
	margin-right: auto;
}

/* The area that holds the 15 puzzle pieces. */
#Tiles_area {
	font-size: 32px;
	height: 400px;
	padding: 0px;
	position: relative;
}


.puzzlepiece {
	background-image: url(background.jpg);
	border: 2px solid black;
	height: 96px;
	line-height: 96px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 96px;
}


.movablepiece:hover {
	border-color: red;
	color: #006600;
	text-decoration: underline;
}

#w3c {
	text-align: right;
}

#w3c img {
	border: none;
}

demo{
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}
